body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.color-nav {
  background-color: rgb(0, 54, 96);
}

.btn-primary,
.btn-primary:hover{
  background-color: #2280bf;
}
.btn-primary:focus {
  background-color: #18335d ;
  border-color: #34859b;
}

.table-hover tbody tr.hovered-row {
  background-color: rgba(174, 203, 223, .001) !important; /* Custom hover color */
}
