body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.time-slot-header {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0;
}

.time-slot-no-border {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0;
}

.scheduler-panel {
  background-color: #fff;
  padding: 20px;
}

.scheduler-header-row {
  text-align: center;
}

.scheduler-time-column {
  text-align: right;
  border-right: 1px solid #ddd;
  position: relative;
}

.scheduler-day-column {
  padding: 0;
  border-right: 1px solid #ddd;
}

.scheduler-day-card {
  background-color: #ddd;
  border-radius: 0;
}

.scheduler-day-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.scheduler-time-slot {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid #ddd;
}

.scheduler-event-card {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0;
}

.scheduler-hour-label {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: right;
  position: absolute;
  top: 0;
  right: 5px;
  transform: translateY(-50%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.color-nav {
  background-color: rgb(0, 54, 96);
}

.btn-primary,
.btn-primary:hover {
  background-color: #2280bf;
}
.btn-primary:focus {
  background-color: #18335d;
  border-color: #34859b;
}

.PersonalScheduleCard {
  font-size: 12px;
  text-align: left;
}
