# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: "02-gh-pages-rebuild: Rebuild gh-pages site"

on:
  workflow_dispatch:
  pull_request:
    paths: [src/**, pom.xml, lombok.config, .github/workflows/14-backend-pitest.yml]
  push:
    branches: [ main ]
    paths: [src/**, pom.xml, lombok.config, .github/workflows/14-backend-pitest.yml]

permissions:
  contents: write
  pages: write
  id-token: write
  pull-requests: read

jobs:
  call-resusable-workflow:
    uses: ucsb-cs156/workflows/.github/workflows/02-gh-pages-rebuild-part-1.yml@main
    with:
      JAVA_DISTRIBUTION: ${{ vars.JAVA_DISTRIBUTION || 'temurin' }}
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
